.formats {
  &__title {
    margin-bottom: 80px;
  }

  &__slider {
    display: flex;
    column-gap: 32px;
    align-items: center;
  }
  &__container {
    overflow: hidden;
  }
}
.slider {
  &__btn {
    display: none;

    @media screen and (min-width: $bp-mobile) {
      display: block;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      overflow: hidden;
      padding: 0;
      border: 0;
      background: transparent;
      cursor: pointer !important;
      flex-shrink: 0;
      transition: transform 0.3s;
      & img {
        width: 100%;
        height: 100%;
        transition: transform 0.3s;
      }
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    gap: 24px;
    height: 20px;
    width: 100%;
  }
  &__pagination-btn {
    // display: block;
    background-color: var(--color-secondary-dark);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    // overflow: hidden;
    padding: 0;
    &--active {
      background-color: var(--color-brand-dark);
    }
  }
}

.format {
  &__card {
    transition: transform 0.3s;

    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    overflow: hidden;
    padding: 24px;
    border-radius: 16px;
    color: var(--color-primary-light);
    cursor: pointer;
    background-image: linear-gradient(
      180deg,
      rgba(49, 38, 26, 0) 35.21%,
      rgba(49, 38, 26, 0.71) 72.92%,
      var(--color-primary-dark) 100%
    );
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
  }
  &__text {
    font-size: 14px;
    font-weight: 300;
  }
}
