.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 20px;
  &__container {
    display: flex;
    align-items: center;
    column-gap: 40px;
  }
  &__nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  &__menu {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: flex;
      align-items: center;
      column-gap: 64px;
      flex-grow: 1;
      justify-content: center;
    }
  }
  &__btn-menu {
    display: block;
    background-color: transparent;
    border: none;
    width: 60px;
    cursor: pointer;
    & img {
      max-width: 60px;
    }
    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
  &__btn {
    display: none;
    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }
}
